.checkoutproduct {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: auto 20px 2px 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  width: 52vw;
}

.checkoutproduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.checkoutproduct__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 22px;
}

.checkoutproduct__title {
  font-size: 17px;
}

.checkoutproduct__price {
  margin: 10px 0px;
}

.checkoutproduct__info > button {
  border: none;
  color: #fff;
  background-color: #0b80e0;
  border-radius: 3px;
  padding: 8px;
  width: 90px;
  margin: 6px;
}

@media screen and (max-width: 768px) {
  .checkoutproduct {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
  }

  .checkoutproduct__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .checkoutproduct__info {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .checkoutproduct__info > button {
    border-radius: 3px;
    padding: 2px 0px;
    width: 90%;
    margin: 0;
  }
}