.body {
  position: absolute;
  top: 10vh;
}

.body__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 10px; */
}

@media screen and (min-width: 769px) and (max-width:1034px){
  .body__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .body__grid {
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    margin-right: auto;
  }
}